{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Planner
            {% endblock %}
        </title>
        <link rel="stylesheet" href='{% static "style.css" %}'>
    </head>
<body>
    <nav>
        <h2>Planner</h2>
        <a href="{% url 'home' %}">Home</a>
        <hr>
        {% if user.is_authenticated %}
            <span>Welcome, {{user.first_name | default:user.username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a><br>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
